<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="/detalle_prestamo/listaprestamo" method="post">
                        <div class="form group">
                            <h2>Agregar  Detalle Prestamo</h2>
                        </div>
                        <label for="">id_prestamo</label>
                        <div class="form-group">
                            <input class="form-control" type="text" name="id_prestamo" id="">
                        </div>
                        <label for="">id_libro</label>
                        <div class="form-group">
                            <input class="form-control"  type="text" name="id_libro" id="">
                        </div>
                        <label for="">Fecha Devolucion</label>
                         <div class="form-group">
                            <input class="form-control" type="text" name="fecha_devolucion" id="">
                        </div>
                        <label for="">Mora</label>
                         <div class="form-group">
                            <input class="form-control" type="text" name="mora" id="">
                        </div>
                        <label for="">Fecha Devuelto</label>
                         <div class="form-group">
                            <input class="form-control" type="text" name="fecha_devuelto" id="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning btn-block">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<div class="col-md-8"> 
    <div class="card-body">
        <h1>Datos Tabla Detalle_Prestamo</h1>
       <table id="example" class="table">
        <thead>
        <tr>
            <th scope="col">id_detalle_prestamo</th>
            <th scope="col">id_prestamo</th>
            <th scope="col">id_libro</th>
            <th scope="col">fecha_devolucion</th>
            <th scope="col">mora</th>
            <th scope="col">fecha_devuelto</th>
        </tr>
    </thead>
    <tbody>
        {{#each prestamo}}
        <tr>
            <th scope="row">{{id_detalle_prestamo}}</th>
            <td>{{id_prestamo}}</td>
            <td>{{id_libro}}</td>
            <td>{{fecha_devolucion}}</td>
            <td>{{mora}}</td>
            <td>{{fecha_devuelto}}</td>
            <td>

                <a href="eliminar/{{id_detalle_prestamo}}" class="btn btn-danger">Eliminar</a>
                <a href="" class="btn btn-info">Modificar</a>
                
            </td>
        </tr>
      {{/each}}  
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>